<div class="row">
    <div class="col-sm-4 col-md-3 col-lg-2">
        left nav
    </div>
    <div class="col-sm-12 col-md-13 col-lg-14">
        <ul>
            <li *ngFor="let product of productList">
                <h3>{{product.id}} | {{product.name}}</h3>
                <ul>
                    <li *ngFor="let productImage of product.imageList">
                        {{productImage.path}}<br>
                        {{productImage.colorCode}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
