<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-16">
                <h1><a routerLink="/home">Header</a></h1>
            </div>
        </div>
    </div>
</header>
<nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-16">
                <ul class="list-inline text-center">
                    <li routerLinkActive="active">
                        <a routerLink="/products/suits">Suits</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/products/dress-shirts">Dress Shirts</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/products/sport-coats">Sport Coats</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/products/pants">Pants</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/products/ties">Ties</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/products/sportswear">Sportswear</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/products/outerwear">Outerwear</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/products/shoes-and-accessories">Shoes &amp; Accessories</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/products/tuxedos">Tuxedos</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/products/big-and-tall">Big &amp; Tall</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
