<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-16">
                <h1>footer</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <ul class="list-unstyled">
                    <li><a routerLink="/clearance-center">Clearance Center</a></li>
                    <li><a routerLink="/current-promotions">Current Promotions</a></li>
                    <li><a routerLink="/deal-of-the-day">Deals of the Day</a></li>
                    <li><a routerLink="/factory-store">Factory Store</a></li>
                    <li><a routerLink="/gift-cards">Gift Cards</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="list-unstyled">
                    <li><a routerLink="/customer-service-center">Customer Service Center</a></li>
					<li><a routerLink="/customer-service-center/international-shipping">International Shipping</a></li>
					<li><a routerLink="/customer-service-center/privacy-policy">Privacy Policy</a></li>
					<li><a routerLink="/customer-service-center/site-map">Site Map</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="list-unstyled">
                    <li><a routerLink="/contact-us">Contact Us</a></li>
					<li><a routerLink="/company-information">Company Information</a></li>
					<li><a href="/careers" target="_blank" aria-describedby="descNewTab">Jobs</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="list-unstyled">
                    <li><a routerLink="/store-locator">Store Locator</a></li>
                    <li><a routerLink="/order-status">Order Status</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
